.container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container img {
  width: 360px;
  height: 760px;
}

body {
  font-family: Gill Sans, sans-serif;
  background-image: linear-gradient(to right,orange,tan);
  text-align: center;
}

.zoo-button {
  width: auto;
  height: auto;
}