.container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container img {
  width: 360px;
  height: 760px;
}

body {
  margin: 0;
  font-family: Gill Sans, sans-serif;
  background-image: linear-gradient(to right,orange,tan);
  text-align: center;
}

.zoo-button {
  width: auto;
  height: auto;
}

h1 {
  color: white;
  border: 5px solid rgb(93, 136, 98);
  font-size: 75px;
  margin: 0;
  background-color: rgb(93, 136, 98);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  color: white;
  border: 5px solid rgb(93, 136, 98);
  font-size: 35px;
  margin-top: 0;
  background-color: rgb(93, 136, 98);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}