body {
  font-family: Gill Sans, sans-serif;
  background-color: salmon;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.zoo-map {
  padding-top: 20px;
}

h1 {
  font-weight: bold;
}

.back-message {
  margin-top: 20px;
}

.back-button {
  background-color: lavender;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px; 
}