.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container img {
  width: 300px;
  height: 160px;
  margin: .5rem;
}

body {
  font-family: Gill Sans, sans-serif;
  background-image: linear-gradient(cyan, blue);
  text-align: center;
  background-attachment: fixed;
}

.back { 
  text-align: center;
  width: 6rem;
  margin: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: lavender;
  padding: 10px;
}