body {
  font-family: Gill Sans, sans-serif;
  background-color: cyan;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

.link {
  margin: 10px;
}

.back { 
  text-align: center;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: lavender;
  padding: 10px;
}