body {
  font-family: Gill Sans, sans-serif;
  background-image: linear-gradient(cyan,blue);
  text-align: center;
  background-attachment: fixed;
}

p {
  font-size: 1.25em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100ch;
}

a {
  text-decoration: none;
  color: black;
  background-color: lavender;
  padding: 10px;  
}

.back {
  margin: 40px;
}